@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #ebebeb;
  color: #333;
}

a {
  all: unset;
}

.container {
  min-height: 100vh;
  flex-direction: column;
  display: grid;  
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header'
    'main'
    'footer';
}

header {
  display: block;
  grid-area: header;
}

main {
  grid-area: main;
  display: grid;
  grid-template-rows: 1fr;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

footer {
  display: block;
  grid-area: footer;
}
